body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(233, 178, 11);
    font-size: x-large;
    background-color: rgba(47, 168, 189, 0.918);
}

p{
    padding: 50px;
    padding-left: 1650px;
}
#title {
    height: 180px;
    width: 380px;
}

#board {
    width: 460px;
    height: 460px;
    background-color: lightblue;
    border: 10px solid #0c67ae;

    margin:  auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 150px;
    height: 150px;
    border: 1px solid #0c67ae;
}

button{
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgb(114, 165, 148);
}

H1{
    font-family: cursive;
    color: rgb(23, 159, 227);
}